.welcome {
  color: var(--clr-black-01);
}
.welcome h2 {
  font-size: 48px;
  line-height: 24px;
}
.welcome span {
  color: var(--clr-red-03);
}
.welcome p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 41px;
}