.dashboard-header,
.dashboard-nav,
.dashboard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
}

.dashboard-header,
.dashboard-aside {
  background-color: var(--clr-black-01);
  color: var(--clr-white-01)
}

/* Website header */
.dashboard-header {
  align-items: center;
  grid-area: header;
  height: 100px;
  justify-content: space-between;
  padding: 0 29px;
}

/* Website menu */
.dashboard-nav {
  flex: 1;
}
.dashboard-nav button {
  flex: 1;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

/* Website content */
.dashboard-content {
  grid-area: content;
  height: calc(100vh - 100px);
}
.dashboard-content > section {
  overflow-y: scroll;
  padding: 68px 107px;
}

/* Website aside menu */
.dashboard-aside {
  align-items: center;
  display: flex;
  flex: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0 0 69px 0;
}
.dashboard-aside ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
.dashboard-aside li {
  background-color: var(--clr-white-01);
  border-radius: 6px;

  height: 64px;
  margin: 0 27px 0 26px;
  position: relative;
  width: 64px;
}
.dashboard-aside li img {
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
}
.dashboard-aside small {
  display: inline-block;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  transform: rotate(-90deg);
}