.dashboard-header,
.dashboard-nav,
.dashboard-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100vw; */
}

.dashboard-header,
.dashboard-aside {
  background-color: var(--clr-black-01);
  color: var(--clr-white-01)
}

/* Website header */
.dashboard-header {
  align-items: center;
  grid-area: header;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 29px;
}

/* Website menu */
.dashboard-nav {
  flex: 1;
}
.dashboard-nav button {
  flex: 1;

  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

/* Website content */
.dashboard-content {
  grid-area: content;
  height: calc(100vh - var(--header-height));
}
.dashboard-content > section {
  overflow-y: scroll;

  padding: 68px var(--aside-width);
  width: calc(100% - var(--aside-width) - 2 * var(--aside-width));
}

/* Website aside menu */
.dashboard-aside {
  align-items: center;
  display: flex;
  flex: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: var(--aside-width);
}
.dashboard-aside ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
.dashboard-aside li {
  background-color: var(--clr-white-01);
  border-radius: 6px;

  height: 64px;
  position: relative;
  width: 64px;
}
.dashboard-aside li img {
  left: 50%;
  position: absolute;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
}
.dashboard-aside small {
  display: inline-block;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  transform: rotate(-90deg);
}

/* Website board */
.dashboard-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Website board : indicators */
.dashboard-board .dashboard-graphs {
  flex: 1;
}

/* Website board : daily-activity */
.dashboard-board .daily-activity {
  margin-top: 77px;
  width: 100%;
}

/* Website board : indicators */
.dashboard-board .dashboard-indicators {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 39px;
  margin-left: 31px;
  margin-top: 77px;
}

/* Website board : details */
.dashboard-board .dashboard-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 28px;
}
.dashboard-board .dashboard-details > div {
  flex: 1 0 calc(100% / 3 - 2 * 30px);
  height: 265px;
}
.dashboard-board .dashboard-details > div:not(:first-child) {
  margin-left: 30px;
}