.daily-activity .barchart-tooltip {
  background-color: var(--clr-red-02);
}

.daily-activity .barchart-legend,
.daily-activity .barchart-legend ul,
.daily-activity .barchart-legend li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.daily-activity .barchart-legend  {
  justify-content: space-between;
}
.daily-activity .barchart-legend ul {
  gap: 32px;
}
.daily-activity .barchart-legend li {
  align-items: center;
  gap: 10px;
}
.daily-activity .barchart-legend .icon {
  background-color: var(--icon-color);
  border-radius: 50%;

  display: block;

  height: var(--icon-size);
  width: var(--icon-size);
}